<div class="notification-view">
  <div class="notification-content">
    <div class="text-dark mt-5">
      <%= notification_form(notification) %>
    </div>

    <div class="text-center mt-2">      
      <div class="moderate-font text-right border-bottom">
        <%# 通知の作成時間 %>
        <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
      </div>
    </div>
  </div>
</div>