<% if user_signed_in? %>
  <% if current_user.already_liked?(@post) %>
    <%= button_to "/posts/#{@post.id}/likes", class: "like-btn", method: :delete, remote: true do %>
      <span><i class="fas fa-heart"></i></span>
    <% end %>
  <% else %>
    <%= button_to "/posts/#{@post.id}/likes", class: "like-btn", method: :post, remote: true do %>
      <span><i class="far fa-heart"></i></span>
    <% end %>
  <% end %>
  <span><%= @post.likes.count %></span>
<% end %>