@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap';
@import 'static_pages';
@import 'layouts';

* {
  box-sizing: border-box;
}

body {
  overflow-x:hidden
}

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// フラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}