@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap';
@import 'static_pages';
@import 'layouts';

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 55px; /* 固定ヘッダの高さ分 */
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// フラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}