// _post
.post-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_image {
  width: 120px;
  height: 120px;
}

.time {
  font-size: 12px;
  color: darkgray;
}

// show
.show-image {
  width: 200px;
  height: 200px;
}